#container{
   color: black;
   font-weight:bolder;
   background-color:#ffb300;
   
}

#nifty{
    color:red;
    font-weight:bolder;
    font-size:30;
    height:80px
    /* background-color:#eeeeee */
}

#experyHeader{
    height: 70px;
    width:100px
  
    /* background-color:#eeeeee */
}

#panelBackground{
  
   margin:40px;
   margin-top:15px; 
   /* margin-left:30px;
   margin-right:30px */
   background-color:#18dcff;
   
}

#panel{
    width:95%;
    margin:5px;
    margin-left:10px;
    padding:20px
}

#time{
    color:#009432;
    font-weight: bold;
    height: 80px;
}

